.git
.gitignore
.env
.env.example
.editorconfig
.idea
.vscode
node_modules
npm-debug.log
yarn-error.log
vendor
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
docker-compose.yml
Dockerfile
.dockerignore
README.md
phpunit.xml
tests
.github